/* CSS for lab6.php */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 600px;
    margin: 0 auto;
    background: black;
}

form {
    background: rgb(145, 140, 140);
    padding: 20px;
    border-radius: .5em;
}

header {
    background: rgb(8, 8, 99);
    color: white;
    padding: 15px;
    border-radius: .5em;
    margin-bottom: 1em;
}

footer {
    background: rgb(8, 8, 99);
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 2em;
    font-size: small;
    border-radius: .5em;
}

label {
    display: inline-block;
    width: 240px;
    color: black;
    font-weight: bolder;
}

.group {
    margin: 20px 0 20px 0;
}

h1, h4 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"] {
    margin-bottom: .2em;
}