/* CSS for lab6.php */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 800px;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 240px;
}

.group {
    margin: 20px 0 20px 0;
}

input[type=submit] {
    background: #336699;
    color: #fff;
    padding: 10px;
    font-size: 1em;
}